<h1><%= @track.name %> by <%= @track.artists.first.name %></h1>
<%= radar_chart @data, {responsive: true, pointLabelFontSize: 50} %>
<div class="centered">
  <audio controls="" name="media"><source src=<%= @track.preview_url %> type="audio/mpeg"></audio>
    <br>
  <%= link_to 'Search Again', root_path, class: "btn btn-primary" %>
</div>
